{% extends "base.html" %}
{% block content %}
      <!-- Section Started Heading -->
      <section class="section section-inner started-heading">
      	<div class="container">
      		<div class="row">
      			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      				<!-- titles -->
      				<div class="h-titles">
      					<h1 class="h-title scrolla-element-anim-1 scroll-animate" data-animate="active">Blog</h1>
      				</div>
      			</div>
      		</div>
      	</div>
      </section>
      <section class="section section-inner m-archive">
        <div class="container">
          <div class="row row-custom">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 vertical-line">
              <!-- Description -->
              <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                <h6>Suspendisse potenti. Sed egestas eros eu libero posuere ultrices. Nullam ut aliquet felis, sit amet imperdiet felis.</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Blog -->
    		<div class="blog-items">
          <div class="archive-item">
            <div class="image">
              <a href="blog-single.html">
                <img src="static/images/blog4.jpg" alt="Usability Secrets to Create Better User Interfaces" />
              </a>
            </div>
            <div class="desc">
              <div class="category scrolla-element-anim-1 scroll-animate" data-animate="active">
                UI Design<br/><span>November 28, 2021</span>
              </div>
              <div class="title scrolla-element-anim-1 scroll-animate" data-animate="active">
                <a href="blog-single.html">Usability Secrets to Create Better User Interfaces</a>
              </div>
              <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur malesuada. Donec arcu lacus, ornare eget&#8230; </p>
                <div class="readmore">
                  <a href="blog-single.html" class="lnk">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-item">
            <div class="image">
              <a href="blog-single.html">
                <img src="static/images/blog3.jpg" alt="Three Ways To Level Up Your Photography" />
              </a>
            </div>
            <div class="desc">
              <div class="category scrolla-element-anim-1 scroll-animate" data-animate="active">
                Branding<br/><span>November 28, 2021</span>
              </div>
              <div class="title scrolla-element-anim-1 scroll-animate" data-animate="active">
                <a href="blog-single.html">Three Ways To Level Up Your Photography</a>
              </div>
              <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur malesuada. Donec arcu lacus, ornare eget&#8230; </p>
                <div class="readmore">
                  <a href="blog-single.html" class="lnk">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-item">
            <div class="image">
              <a href="blog-single.html">
                <img src="static/images/single7.jpg" alt="10 Useful Tips to Improve Your UI Designs" />
              </a>
            </div>
            <div class="desc">
              <div class="category scrolla-element-anim-1 scroll-animate" data-animate="active">
                Photography<br/><span>November 28, 2021</span>
              </div>
              <div class="title scrolla-element-anim-1 scroll-animate" data-animate="active">
                <a href="blog-single.html">10 Useful Tips to Improve Your UI Designs</a>
              </div>
              <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur malesuada. Donec arcu lacus, ornare eget&#8230;</p>
                <div class="readmore">
                  <a href="blog-single.html" class="lnk">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pager">
          <a class="prev page-numbers" href="#"><i class="icon-arrow"></i></a>
          <span class="page-numbers current">1</span>
          <a class="page-numbers" href="#">2</a>
          <a class="next page-numbers" href="#"><i class="icon-arrow"></i></a>
        </div>
      </section>
{% endblock %}