{% extends "base.html" %}
{% block content %}
      <!-- Section -->
      <section class="section section-started">
        <div class="container">
          <!-- Hero Started -->
          <div class="hero-started">
            <div class="slide scrolla-element-anim-1 scroll-animate" data-animate="active">
              <img src="static/images/profile.png" alt="" />
              <span class="circle circle-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="749px" height="375px"><path fill-rule="evenodd" fill="#ff8059" d="M749.000,0.000 C749.000,206.786 581.459,374.514 374.608,374.514 C167.758,374.514 -0.000,206.786 -0.000,0.000 "/></svg>
              </span>
              <span class="circle circle-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="416px" height="209px"><path fill-rule="evenodd"  fill="#3aafc9" d="M-0.000,209.000 C-0.000,94.252 93.051,0.745 207.835,0.745 C322.619,0.745 416.000,94.252 416.000,209.000 "/></svg>
              </span>
              <span class="circle circle-3">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="416px" height="209px"><path fill-rule="evenodd"  fill="#b9d1e4" d="M-0.000,209.000 C-0.000,94.252 93.051,0.745 207.835,0.745 C322.619,0.745 416.000,94.252 416.000,209.000 "/></svg>
              </span>
              <span class="circle circle-4">
                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="121px" height="241px"><path fill-rule="evenodd"  fill="#676cdb" d="M0.000,0.000 C66.624,0.000 120.402,54.096 120.402,120.733 C120.402,187.371 66.624,241.000 0.000,241.000 "/></svg>
              </span>
              <span class="circle circle-5">
                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="232px" height="117px"><path fill-rule="evenodd"  fill="rgb(255, 208, 65)" d="M232.000,0.000 C232.000,64.151 180.376,116.580 116.238,116.580 C52.100,116.580 0.000,64.151 0.000,0.000 "/></svg>
              </span>
            </div>
            <div class="content">
              <div class="titles">
                <div class="subtitle splitting-text-anim-2 scroll-animate" data-splitting="chars" data-animate="active">
                  Law Student
                </div>
                <h2 class="title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
                  Jason<br>Poirier&nbsp;Lavoie
                </h2>
              </div>
              <div class="description scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>
                  ...
                </p>
                  <div class="social-links">
                    <a href="https://github.com/jpoirierlavoie" target="blank" title="Github">
                      <i class="bi-github" role="img" aria-label="GitHub"></i>
                    </a>
                    <a href="https://www.instagram.com/jpoirierlavoie" target="blank" title="Instagram">
                    <i class="bi-instagram" role="img" aria-label="Instagram"></i>
                  </a>
                  <a href="https://twitter.com/Jpoirierlavoie" target="blank" title="Twitter">
                    <i class="bi bi-twitter" role="img" aria-label="Twitter"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/jpoirierlavoie/" target="blank" title="LinkedIn">
                    <i class="bi bi-linkedin" role="img" aria-label="LinkedIn"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-bg section-parallax-1" id="about-section">
        <div class="container">
          <!-- Section Heading -->
          <div class="m-titles">
            <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
              About Me
            </h2>
          </div>
          <div class="row row-custom">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 align-right">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 vertical-line">
              <!-- Section Profile -->
              <div class="profile-box">
                <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                  <p>
                    My name is Federico Ober. I have been studying UI UX Design since October 2020. I like creating
                    a cool design project.</p><p>Donec imperdiet risus at tortor consequat maximus et eget magna.
                    Cras ornare sagittis augue, id sollicitudin justo tristique ut. Nullam ex enim, euismod vel
                    bibendum ultrices, fringilla vel eros. Donec euismod leo lectus, et euismod metus euismod sed.
                    Quisque quis suscipit ipsum, at pellentesque velit. Duis a congue sem.
                  </p>
                  <p>
                    In sed dolor ut ligula malesuada sollicitudin. Morbi iaculis convallis arcu, nec maximus tellus
                    sodales in. Curabitur blandit enim at nisl lobortis, non pretium enim hendrer
                  </p>
                  <a href="#contact-section" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">Contact Me</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-bg" id="blog-section">
        <div class="container">
          <!-- Section Heading -->
          <div class="m-titles">
            <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">My Blog</h2>
          </div>
          <div class="row row-custom">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 vertical-line">
              <!-- Description -->
              <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>Suspendisse potenti. Sed egestas eros eu libero posuere ultrices. Nullam ut aliquet felis, sit amet imperdiet felis.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Blog -->
        <div class="blog-items">
          {% for post in posts %}
          <div class="archive-item">
            <div class="image">
              <a href="/{{ post['slug'] }}">
                <img src="static/images/{{ post['image'] }}"/>
              </a>
            </div>
            <div class="desc">
              <div class="category scrolla-element-anim-1 scroll-animate" data-animate="active">
                {{ post['category'] }}<br/><span>{{ post['date'] }}</span>
              </div>
              <h3 class="title scrolla-element-anim-1 scroll-animate" data-animate="active">
                <a href="/{{ post['slug'] }}">{{ post['title'] }}</a>
              </h3>
              <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>{{ post['description'] }}</p>
                <div class="readmore">
                  <a href="/{{ post['slug'] }}" class="lnk">Read more</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="blog-more-link">
          <a href="/blog" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">View Blog</a>
        </div>
      </section>
{% endblock %}