{% extends "base.html" %}
{% block content %}
      <!-- Section -->
      <section class="section section-started">
        <div class="container">
          <!-- Hero Started -->
          <div class="hero-started">
            <div class="slide scrolla-element-anim-1 scroll-animate" data-animate="active">
              <img src="static/images/profile.png" alt="" />
              <span class="circle circle-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="749px" height="375px"><path fill-rule="evenodd" fill="#ff8059" d="M749.000,0.000 C749.000,206.786 581.459,374.514 374.608,374.514 C167.758,374.514 -0.000,206.786 -0.000,0.000 "/></svg>
              </span>
              <span class="circle circle-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="416px" height="209px"><path fill-rule="evenodd"  fill="#3aafc9" d="M-0.000,209.000 C-0.000,94.252 93.051,0.745 207.835,0.745 C322.619,0.745 416.000,94.252 416.000,209.000 "/></svg>
              </span>
              <span class="circle circle-3">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="416px" height="209px"><path fill-rule="evenodd"  fill="#b9d1e4" d="M-0.000,209.000 C-0.000,94.252 93.051,0.745 207.835,0.745 C322.619,0.745 416.000,94.252 416.000,209.000 "/></svg>
              </span>
              <span class="circle circle-4">
                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="121px" height="241px"><path fill-rule="evenodd"  fill="#676cdb" d="M0.000,0.000 C66.624,0.000 120.402,54.096 120.402,120.733 C120.402,187.371 66.624,241.000 0.000,241.000 "/></svg>
              </span>
              <span class="circle circle-5">
                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="232px" height="117px"><path fill-rule="evenodd"  fill="rgb(255, 208, 65)" d="M232.000,0.000 C232.000,64.151 180.376,116.580 116.238,116.580 C52.100,116.580 0.000,64.151 0.000,0.000 "/></svg>
              </span>
            </div>
            <div class="content">
              <div class="titles">
                <div class="subtitle splitting-text-anim-2 scroll-animate" data-splitting="chars" data-animate="active">
                  Law Student
                </div>
                <h2 class="title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
                  Jason<br>Poirier&nbsp;Lavoie
                </h2>
              </div>
              <div class="description scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>
                  ...
                </p>
                <div class="social-links">
                  <a href="https://github.com/jpoirierlavoie" target="blank" title="Github">
                    <i class="bi-github" role="img" aria-label="GitHub"></i>
                  </a>
                  <a href="https://twitter.com/Jpoirierlavoie" target="blank" title="Twitter">
                    <i class="bi bi-twitter" role="img" aria-label="Twitter"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/jpoirierlavoie/" target="blank" title="LinkedIn">
                    <i class="bi bi-linkedin" role="img" aria-label="LinkedIn"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-bg section-parallax-1" id="about-section">
        <div class="container">
          <!-- Section Heading -->
          <div class="m-titles">
            <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
              About Me
            </h2>
          </div>
          <div class="row row-custom">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 align-right">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 vertical-line">
              <!-- Section Profile -->
              <div class="profile-box">
                <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                  <p>
                    My name is Federico Ober. I have been studying UI UX Design since October 2020. I like creating
                    a cool design project.</p><p>Donec imperdiet risus at tortor consequat maximus et eget magna.
                    Cras ornare sagittis augue, id sollicitudin justo tristique ut. Nullam ex enim, euismod vel
                    bibendum ultrices, fringilla vel eros. Donec euismod leo lectus, et euismod metus euismod sed.
                    Quisque quis suscipit ipsum, at pellentesque velit. Duis a congue sem.
                  </p>
                  <p>
                    In sed dolor ut ligula malesuada sollicitudin. Morbi iaculis convallis arcu, nec maximus tellus
                    sodales in. Curabitur blandit enim at nisl lobortis, non pretium enim hendrer
                  </p>
                  <a href="#contact-section" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">Contact Me</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-parallax-2" id="resume-section">
        <div class="container">
          <!-- Section Heading -->
          <div class="m-titles">
            <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
              My Resume
            </h2>
          </div>
          <div class="row row-custom">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 vertical-line">
              <!-- Description -->
              <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>
                  Talented UX designer with 7+ years of experience, seeking to elevate UI/UX at ABC, Inc.
                  As Lead UI/UX Head completed project before dead line. ittis augue, id sollicitudin justo
                  tristique ut. Nullam ex enim, euismod vel bibendum ultrices, fringilla vel eros. Donec euism
                  od leo um, at pellentesque velituis a congue sem.
                </p>
              </div>
              <!-- History -->
              <div class="history-left">
                <div class="history-items">
                  <div class="p-title scrolla-element-anim-1 scroll-animate" data-animate="active">EDUCATION</div>
                    <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2019 - 2021</div>
                    <div class="name">Bachelor of Laws</div>
                    <div class="subname">University of Montreal</div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2015 - 2018</div>
                    <div class="name">BA, Honours in Political Science</div>
                    <div class="subname">Concordia University</div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2015 - 2018</div>
                    <div class="name">DEC, Aircraft Maintenance</div>
                    <div class="subname">Édouard-Montpetit College</div>
                  </div>
                </div>
                <div class="history-items">
                  <div class="p-title scrolla-element-anim-1 scroll-animate" data-animate="active">TRAINING</div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2020</div>
                    <div class="name">Certification en leadership et habiletés de direction</div>
                    <div class="subname">Institute of Leadership in Management</div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2019</div>
                    <div class="name">Cybersecurity Fundamentals</div>
                    <div class="subname">ISACA</div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2018</div>
                    <div class="name">Corporate Governance</div>
                    <div class="subname">Collége des administrateurs de sociétés</div>
                  </div>
                </div>
              </div>
              <div class="history-right">
                <div class="history-items">
                  <div class="p-title scrolla-element-anim-1 scroll-animate" data-animate="active">EXPERIENCE</div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2017 - 2022</div>
                    <div class="name">Aviation Strategies International Inc.</div>
                    <div class="subname">Manager, Corporate Services</div>
                    <div class="text">
                      <p>Euismod vel bibendum ultrices, fringilla vel eros, donec euismod leo lectus.</p>
                    </div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2013 - 2018</div>
                    <div class="name">Canadian Armed Forces, Reserves</div>
                    <div class="subname">Combat Engineer, Reserves</div>
                    <div class="text">
                      <p>Euismod vel bibendum ultrices, fringilla vel eros, donec euismod leo lectus.</p>
                    </div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2012 - 2014</div>
                    <div class="name">Bombardier Aerospace</div>
                    <div class="subname">Technologist, CSeries</div>
                    <div class="text">
                      <p>Euismod vel bibendum ultrices, fringilla vel eros, donec euismod leo lectus.</p>
                    </div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2010 - 2012</div>
                    <div class="name">Air Canada</div>
                    <div class="subname">Ground Handling Agent</div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-bg section-parallax-2" id="contact-section">
        <div class="container">
          <!-- Section Heading -->
          <div class="m-titles">
            <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">Contact Me</h2>
          </div>
          <div class="row row-custom">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 align-right">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 vertical-line">
              <!-- contact form -->
              <div class="contacts-form scrolla-element-anim-1 scroll-animate" data-animate="active">
                <form id="cform" action="/" method="POST">
                    <div class="row">
                        <div class="col">
                        {{form.first_name.label}}
                        {{form.first_name(placeholder='Enter your given name')}}
                        </div>
                        <div class="col">
                        {{form.last_name.label}}
                        {{form.last_name(placeholder='Enter your surname')}}
                        </div>
                    </div>
                    <div>
                        {{form.email.label}}
                        {{form.email(placeholder='Enter your email address')}}
                    </div>
                    <div>
                        {{form.subject.label}}
                        {{form.subject(placeholder='Enter the reason you are reaching out')}}
                    </div>
                    <div>
                        {{form.message.label}}
                        {{form.message(placeholder='Enter your message here')}}
                    </div>
                    <div>
                        {{form.submit}}
                    </div>
                </form>
              </div>
              <div class="alert-success" style="display: none;">
                  <p>Thanks, your message is sent successfully.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}