        <!--Open Graph Protocol | https://ogp.me/-->
        <meta property="og:locale" content="en" />
        <meta property="og:url" content="https://jpoirierlavoie.ca/">
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Jason Poirier Lavoie" />
        <meta property="og:title" content="{{ title }} | Jason Poirier Lavoie"/>
        <meta property="og:description" content="A Flask blog running on Google Cloud's App Engine service." />
        <meta property="og:image" content="https://jpoirierlavoie.ca/static/images/jason_poirier_lavoie_banner.jpg" />
        <!--Twitter Card Markup-->
        <meta name="twitter:card" content="summary">
        <meta property="twitter:domain" content="jpoirierlavoie.ca">
        <meta property="twitter:url" content="https://jpoirierlavoie.ca/">
        <meta name="twitter:title" content="{{ title }} | Jason Poirier Lavoie">   
        <meta name="twitter:description" content="A Flask blog running on Google Cloud's App Engine service.">
        <meta name="twitter:creator" content="@jpoirierlavoie">
        <meta name="twitter:site" content="@jpoirierlavoie">
        <meta name="twitter:image" content="https://jpoirierlavoie.ca/static/images/jason_poirier_lavoie_banner.jpg">
        <!--Schema Markup | https://schema.org/-->
        <script nonce="{{ csp_nonce() }}" type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Jason Poirier Lavoie",
        "url": "https://jpoirierlavoie.ca/",
        "image": "https://jpoirierlavoie.ca/static/images/jason_poirier_lavoie_banner.jpg",
        "sameAs": [
            "https://www.facebook.com/jpoirierlavoie",
            "https://twitter.com/Jpoirierlavoie",
            "https://www.instagram.com/jpoirierlavoie",
            "https://www.linkedin.com/in/jpoirierlavoie",
            "https://github.com/jpoirierlavoie"
            ],
        "jobTitle": "Law Student",
        "worksFor": {
            "@type": "Organization",
            "name": "Ecole du Barreau"
            }
        }
        </script>