{% extends "base.html" %}
{% block content %}
      <!-- Section Started Heading -->
      <section class="section section-inner started-heading">
      	<div class="container">
      		<div class="row">
      			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      				<!-- titles -->
      				<div class="h-titles">
      					<h1 class="h-title scrolla-element-anim-1 scroll-animate" data-animate="active">Resume</h1>
      				</div>

      			</div>
      		</div>
      	</div>
      </section>
      <section class="section section-bg section-parallax-2" id="resume-section">
        <div class="container">
          <!-- Section Heading -->
          <div class="row row-custom">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 vertical-line">
              <!-- Description -->
              <div class="text scrolla-element-anim-1 scroll-animate" data-animate="active">
                <p>
                  Talented UX designer with 7+ years of experience, seeking to elevate UI/UX at ABC, Inc.
                  As Lead UI/UX Head completed project before dead line. ittis augue, id sollicitudin justo
                  tristique ut. Nullam ex enim, euismod vel bibendum ultrices, fringilla vel eros. Donec euism
                  od leo um, at pellentesque velituis a congue sem.
                </p>
              </div>
              <!-- History -->
              <div class="history-left">
                <div class="history-items">
                  <div class="p-title scrolla-element-anim-1 scroll-animate" data-animate="active">EDUCATION</div>
                    <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2019 - 2021</div>
                    <div class="name">Bachelor of Laws</div>
                    <div class="subname">University of Montreal</div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2015 - 2018</div>
                    <div class="name">BA, Honours in Political Science</div>
                    <div class="subname">Concordia University</div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2015 - 2018</div>
                    <div class="name">DEC, Aircraft Maintenance</div>
                    <div class="subname">Édouard-Montpetit College</div>
                  </div>
                </div>
                <div class="history-items">
                  <div class="p-title scrolla-element-anim-1 scroll-animate" data-animate="active">TRAINING</div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2020</div>
                    <div class="name">Certification en leadership et habiletés de direction</div>
                    <div class="subname">Institute of Leadership in Management</div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2019</div>
                    <div class="name">Cybersecurity Fundamentals</div>
                    <div class="subname">ISACA</div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2018</div>
                    <div class="name">Corporate Governance</div>
                    <div class="subname">Collége des administrateurs de sociétés</div>
                  </div>
                </div>
              </div>
              <div class="history-right">
                <div class="history-items">
                  <div class="p-title scrolla-element-anim-1 scroll-animate" data-animate="active">EXPERIENCE</div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2017 - 2022</div>
                    <div class="name">Aviation Strategies International Inc.</div>
                    <div class="subname">Manager, Corporate Services</div>
                    <div class="text">
                      <p>Euismod vel bibendum ultrices, fringilla vel eros, donec euismod leo lectus.</p>
                    </div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2013 - 2018</div>
                    <div class="name">Canadian Armed Forces, Reserves</div>
                    <div class="subname">Combat Engineer, Reserves</div>
                    <div class="text">
                      <p>Euismod vel bibendum ultrices, fringilla vel eros, donec euismod leo lectus.</p>
                    </div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2012 - 2014</div>
                    <div class="name">Bombardier Aerospace</div>
                    <div class="subname">Technologist, CSeries</div>
                    <div class="text">
                      <p>Euismod vel bibendum ultrices, fringilla vel eros, donec euismod leo lectus.</p>
                    </div>
                  </div>
                  <div class="history-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="date">2010 - 2012</div>
                    <div class="name">Air Canada</div>
                    <div class="subname">Ground Handling Agent</div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}